.gridProducts{
  display: grid;
  grid-template-columns: 4% 6% 7% 30% 8% 10% 10% 15% 5% 5%;
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
}
.stockSales{
  display: grid;
  grid-template-columns: 10% 10% 50% 10% 10% 10%;
}
.productsDataDate{
  background-color: var(--colorBlanco);
  display: grid;
  width: 100%;
  margin: 0 auto;
}
.productsDataDate .titles_container{
  text-align: center;
}
.productsDataDate .titles_container .title{
  padding: .5em;
  border: 1px solid var(--colorGris);
  background-color: var(--colorAzul);
  color: var(--colorBlanco);
}
.productsDataDate .data_container{
  grid-template-rows: auto;
}
.productsDataDate .data_container .data{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-content: baseline ;
  border: 1px solid var(--colorGris);
  background-color: var(--colorBlanco);
  color: var(--colorNegro);
}
.productsDataDate .data_container .data .btn-delete{
  margin: 0;
  color: var(--colorBlanco);
  text-decoration: none;
  cursor: pointer;
  background-color: var(--colorRojo);
  width: 100%;
}
.productsDataDate .data_container .data .btn-update{
  margin: 0;
  color: var(--colorBlanco);
  text-decoration: none;
  cursor: pointer;
  background-color: var(--colorAzul);
  width: 100%;
}
.productsDataDate .data_container .data .img_icon{
  padding: 0;
  margin: 0;
  width: 50px;
  align-content: center;
}

